version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: Ovarc-postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: Ovarc
      POSTGRES_PASSWORD: Ovarc_password
      POSTGRES_DB: Ovarc_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build: .
    container_name: Ovarc-backend
    restart: unless-stopped
    command: npm run dev
    ports:
      - "4000:4000"
    env_file:
      - .env
    depends_on:
      - postgres
    volumes:
      - .:/app
      - /app/node_modules

volumes:
  postgres_data:
